#一个简单的数字游戏
print("-----------------------------------------由VNVILE制作----------------------------------------------")
ke = input("猜猜我在想哪个数字?")
fi = int(ke)

while  fi != 8:
    ke = input("啊哦，错咯，再输一次吧：")
    fi = int(ke)
    if fi == 8:
        print("啊好厉害！猜对啦!")
    else:
        if fi > 8:
            print("啊--啊，太大啦！")
        if fi < 8:
            print("哦哦，太小啦！")
        
print("游戏结束！")
print(" ")
x = input("你想再来一遍吗？输入1重来来")
if x == 1:
    print("重来")
else:
    print("欢迎再次使用！")
